src/evalcap/cider
src/evalcap/cider/*
src/evalcap/coco_caption
src/evalcap/coco_caption/*
src/evalcap/coco-caption
src/evalcap/coco-caption/*

# ignore dataset
datasets/meta
datasets/meta/*
datasets/metadata
datasets/metadata.zip
datasets/metadata/*
datasets/videos
datasets/videos/*
datasets/audios
datasets/audios/*
datasets/frames
datasets/frames/*
datasets/frame_tsv
datasets/frame_tsv/*
datasets/audio_mp3
datasets/audio_mp3/*
datasets/audio_hdf
datasets/audio_hdf/*